{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/forms.css') }}"
        type="text/css"
    />

{% endblock %}

{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Create Computacenter Timesheet</h2>

      <form method="POST" action="{{ url_for('get_timesheet_details') }}">
          {{ form.csrf_token }}
      <div class="body">
          WARNING This makes the following assumptions: <br>
          * You are creating this timesheet on the week you need it for<br>
          * You want to bill a full 5 days this week<br>
      <p>
          This app uses the current date to figure out the start of the week.
      <p>
          Please verify the timesheet is correct. You are responsible for correct timesheets, not me!

      </body>
      <p>

          <fieldset class="form-field">{{ form.name.label }} {{ form.name }}
            {% if form.name.errors %}
              <ul class="errors">
                {% for error in form.name.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.contact_name.label }} {{ form.contact_name }}
            {% if form.contact_name.errors %}
              <ul class="errors">
                {% for error in form.contact_name.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="checkbox">{{ form.confirm.label }} {{ form.confirm }}
          </fieldset>

          {{ form.submit }}

      </form>
    </div>

{% endblock %}